.header {
  padding: 7px 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: relative;
  .controls {
    display: flex;
    align-items: center;

    .theme-button {
      margin-right: 15px;
    }

    .favorites {
      margin-right: 5px;
    }
  }

  a {
    color: var(--white);
  }
}
