.cart-dropdown {
  .cart-dropdown-btn {
    margin-right: 10px;
    position: relative;
    color: var(--white);
    .count {
      display: block;
      position: absolute;
      background-color: var(--orange);
      font-size: 8px;
      bottom: 5px;
      right: 0;
      width: 12px;
      height: 12px;
      padding: 2px;
      line-height: 9px;
      border-radius: 50%;
      text-align: center;
    }
    svg {
      width: 25px;
      height: 25px;
    }
  }
  .dropdown-wrapper {
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    margin-top: 5px;
    .dropdown {
      position: relative;
      max-height: 50vh;
      overflow-y: auto;
      padding: 10px;
      border-bottom-left-radius: var(--common-br);
      border-top-left-radius: var(--common-br);
      animation: showDropdown 0.3s ease-in-out forwards;
      transform: translateX(0);
      .title {
        margin-bottom: 10px;
      }

      .total {
        margin-top: 15px;
        margin-bottom: 20px;
        .total-title {
          margin-top: 5px;
        }
        .total-price {
          font-size: 12px;
          font-weight: 700;
        }
      }

      .checkout-link {
        font-size: 12px;
        margin: 0 auto;
        padding: 4px 10px;
        color: var(--orange);
        border-radius: var(--common-br);
      }

      .spinner-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        /* bottom: 0; */
        left: 0;
        height: 100%;
        backdrop-filter: blur(1px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
      }
    }
  }
}

@keyframes showDropdown {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
