@import "@styles/variables";

.edit-block {
  display: flex;
  .item {
    margin-right: 20px;
    flex: 0 0 auto;

    .item-button {
      margin-top: 10px;
      width: 100%;
      background-color: var(--green);
      padding: 5px;
      color: var(--white);
    }
  }

  .form {
    flex: 1 1 auto;
  }
}

@media only screen {
  @media (max-width: $screen-xs-max) {
  }
}

@media (max-width: 600px) {
  .edit-block {
    flex-direction: column;
    .item {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}
