@import "@/styles/variables";

.nav {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px;
  color: var(--white);

  .menu {
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .logout-btn {
    color: var(--white);
    background-color: var(--blue);
    padding: 8px;
    border-radius: var(--button-br);
  }
}