@import "@/styles/variables";

.nav {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px;
  color: var(--white);

  .menu {
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .logout-btn {
    color: var(--white);
    background-color: var(--blue);
    padding: 8px;
    border-radius: var(--button-br);
  }
}

@media screen {
  @media (max-width: $screen-xs-max) {
    .nav {
      border-right: none;
      box-shadow: none;
      flex-grow: 1;

      .logout-btn {
        margin-bottom: 60px;
      }
    }
  }
}
