.review {
  display: flex;
  position: relative;
  .user-avatar {
    max-width: 50px;
    flex: 0 0 50px;
    margin-right: 10px;
  }
  .details {
    background-color: var(--white);
    padding: 10px;
    border-radius: var(--common-br);
    flex-grow: 1;
    flex-shrink: 1;
    .rating {
      margin-bottom: 5px;
    }

    .text {
      margin-bottom: 5px;
      font-size: 14px;
      color: var(--black);
    }

    .textarea-field {
      textarea {
        width: 100%;
        font-family: inherit;
        font-size: 14px;
      }
    }

    .username {
      font-size: 13px;
      color: var(--blue);
    }

    .edit-controls {
      display: flex;
      .save-btn {
        padding: 3px 8px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &.loading {
          color: transparent;
        }
        .spinner {
          position: absolute;
          top: 3px;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
      }
    }
  }

  .controls {
    position: absolute;
    right: 3px;
    top: 3px;
    button {
      padding: 2px;
      &.edit-btn {
        color: var(--blue);
      }
      &.delete-btn {
        color: var(--orange);
      }
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
