.product-item {
  padding: 0 5px 5px;
  a {
    color: var(--black);
    display: block;
  }
  .content {
    .image {
      position: relative;
      background-color: var(--white);
      img {
        margin: 0 auto;
      }
      .button {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }

    .details {
      padding: 10px 0;
      .name {
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 5px;
        white-space: pre-wrap;
      }

      .category {
        color: var(--blue);
        font-size: 12px;
        margin-bottom: 3px;
      }

      .rating {
        display: flex;
        align-items: center;
        line-height: 0;
        margin-bottom: 3px;
        .reviews {
          font-size: 11px;
          margin-left: 5px;
        }
      }

      .description {
        font-weight: 400;
        font-size: 11px;
        color: var(--gray);
        margin-bottom: 3px;
      }

      .price {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 700;
      }
    }
  }
}
