.modal {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  .content {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    overflow-y: auto;
    .title {
      text-align: center;
      margin-bottom: 20px;
    }

    .close-button {
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 10;
        color: inherit;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
