.link {
  position: relative;
  .count {
    display: block;
    position: absolute;
    background-color: var(--orange);
    font-size: 8px;
    bottom: 5px;
    right: 0;
    width: 12px;
    height: 12px;
    padding: 2px;
    line-height: 9px;
    border-radius: 50%;
    text-align: center;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}
