.product-card {
  .heading {
    margin-bottom: 15px;

    .name {
      margin-bottom: 10px;
    }
  }

  .wrapper {
    
    display: flex;
    .slider {
      flex: 0 0 35%;
      max-width: 35%;
      margin-right: 15px;
      .main-image {
        margin-bottom: 10px;
      }
      .images {
        display: flex;
        margin: 0 -5px;
        > div {
          padding: 0 5px;
        }
      }
    }

      .details {
        flex-grow: 1;
        flex-shrink: 1;
        .price {
          font-size: 18px;
          margin-bottom: 15px;
          font-weight: 700;
        }

        .description {
          font-size: 14px;
          margin-bottom: 20px;
        }

        .cart-button {
          margin-bottom: 10px;
        }
      

      .secure {
        font-size: 13px;
        display: flex;
        align-items: center;
        line-height: 0;

        .secure-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
