.cart-dropdown {
  .cart-dropdown-btn {
    margin-right: 10px;
    position: relative;
    color: var(--white);
    .count {
      display: block;
      position: absolute;
      background-color: var(--orange);
      font-size: 8px;
      bottom: 5px;
      right: 0;
      width: 12px;
      height: 12px;
      padding: 2px;
      line-height: 9px;
      border-radius: 50%;
      text-align: center;
    }
    svg {
      width: 25px;
      height: 25px;
    }
  }
  .dropdown-wrapper {
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    margin-top: 5px;
    .dropdown {
        padding: 10px;
        border-bottom-left-radius: var(--common-br);
        border-top-left-radius: var(--common-br);
      animation: showDropdown 0.3s ease-in-out forwards;
      transform: translateX(0);
      .title {
        margin-bottom: 10px;
      }

      .dropdown-item {
        & + .dropdown-item {
          margin-top: 10px;
        }

        .product {
          display: flex;
          .product-image {
            flex: 0 0 80px;
            margin-right: 10px;
          }

          .product-info {
            flex: 1;
            .product-name {
              margin-bottom: 3px;
            }

            .product-price {
              font-weight: 700;
              font-size: 11px;
              margin-bottom: 10px;
            }

            .product-count {
              display: flex;
              align-items: center;
              button,
              input {
                color: inherit;
              }

              input {
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 25px;
                padding: 3px 5px;
                background-color: rgba(255, 255, 255, 0.3);
                text-align: center;
                margin: 0 3px;
                font-size: 12px;
              }
              .product-count-btn {
                padding: 5px;
                font-size: 20px;
              }

              .remove-product-btn {
                margin-left: 20px;
                svg {
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }
        }
      }

      .total {
        margin-top: 15px;
        margin-bottom: 20px;
        .total-title {
          margin-top: 5px;
        }
        .total-price {
          font-size: 12px;
          font-weight: 700;
        }
      }

      .checkout-link {
        font-size: 12px;
        margin: 0 auto;
        padding: 4px 10px;
        color: var(--orange);
        border-radius: var(--common-br);
      }
    }
  }
}

@keyframes showDropdown {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
