.review-form {
  margin-top: 20px;
  .form-wrapper {
    display: flex;

    .form {
      flex-grow: 1;
      flex-shrink: 1;
      .fields {
        position: relative;
        padding: 10px;
        border-radius: var(--common-br);
        background-color: var(--white);
        margin-right: 10px;
        margin-bottom: 10px;
        .rating {
          margin-bottom: 5px;
          display: flex;
          align-items: center;
        }
        textarea {
          width: 100%;
        }

        .close-btn {
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }

      .error-button-wrap {
        display: flex;
        align-items: center;
        button {
          margin-right: 10px;
        }
      }
    }

    .user-avatar {
      max-width: 50px;
    }
  }

  .open-btn {
    float: right;
  }
}
