.cart-item {
  & + .cart-item {
    margin-top: 10px;
  }
  .product {
    display: flex;
    .product-image {
      margin-right: 10px;
    }

    .product-info {
      flex: 1;
      .product-name {
        margin-bottom: 3px;
      }

      .product-price {
        font-weight: 700;
        font-size: 11px;
        margin-bottom: 10px;
      }

      .product-description {
        font-size: 14px;
        color: var(--gray);
        margin-bottom: 10px;
      }
    }
  }
}
