:root {
  --main-bg: #f6f7fb;
  --black: #333333;
  --blue: #3562bd;
  --blue-dark: #003495;
  --blue-light: #2585db;
  --white: #fff;
  --black: #202125;
  --gray: #8c8c8c;
  --gray-dark: #4c4c4c;
  --gray-light: #dddddd;
  --red: #e91927;
  --yellow: #fecb00;
  --yellow-light: #fef3b5;
  --green-light: #05d000;
  --green: #04a700;
  --common-br: 3px;
  --button-br: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  color: var(--black);
  &.no-scroll {
    overflow: hidden;
  }

  .header {
    background-color: var(--blue);
  }

  .product-item {
    background-color: var(--white);
  }

  .btn-primary {
    background-color: var(--blue);
    color: var(--white);
    padding: 5px;
    border-radius: var(--button-br);
  }

  .search-input {
    border: 1px solid var(--gray-dark);
    input {
      &::placeholder {
        color: var(--gray-dark);
      }
    }
  }

  &.dark_mode {
    color: var(--white);
    background-color: var(--black);
    .header {
      /* background-color: var(--blue-light); */
    }

    .product-item {
      /* background-color: var(--gray); */
    }

    .search-input {
      border: 1px solid var(--white);
      input {
        &::placeholder {
          color: var(--white);
        }
      }
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:disabled {
  filter: brightness(70%);
}

input,
button,
textarea {
  font-family: "Golos Text", sans-serif;
  border: none;
  outline: none;
  background: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
