:root {
  --main-bg: #f6f7fb;
  --black: #333333;
  --blue: #3562bd;
  --blue-dark: #003495;
  --blue-light: #2585db;
  --white: #fff;
  --black-dark: #202125;
  --gray: #8c8c8c;
  --gray-dark: #4c4c4c;
  --gray-light: #dddddd;
  --red: #e91927;
  --yellow: #fecb00;
  --yellow-light: #fef3b5;
  --green-light: #05d000;
  --green: #04a700;
  --common-br: 3px;
  --button-br: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  color: var(--black);
  &.no-scroll {
    overflow: hidden;
  }

  .header {
    background-color: var(--blue);
  }

  .product-item {
    background-color: var(--white);
  }

  .btn-primary {
    background-color: var(--blue);
    color: var(--white);
    padding: 5px;
    border-radius: var(--button-br);
  }

  .search-input {
    border: 1px solid var(--gray-dark);
    input {
      &::placeholder {
        color: var(--gray-dark);
      }
    }
  }

  .profile-page-menu {
    box-shadow: 4px -1px 15px -8px rgba(209, 209, 209, 0.68);
  }

  .theme-bg {
    background-color: var(--main-bg);
  }

  &.dark_mode {
    color: var(--white);
    background-color: var(--black);

    .profile-page-menu {
      box-shadow: 4px -1px 15px -8px rgba(255, 255, 255, 0.3);
    }

    .theme-bg {
      background-color: var(--black);
    }

    .header {
      /* background-color: var(--blue-light); */
    }

    .product-item {
      /* background-color: var(--gray); */
    }

    .search-input {
      border: 1px solid var(--white);
      input {
        &::placeholder {
          color: var(--white);
        }
      }
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:disabled {
  filter: brightness(70%);
}

input,
button,
textarea {
  font-family: "Golos Text", sans-serif;
  border: none;
  outline: none;
  background: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dark_mode {
  .theme_main-bg {
    background-color: var(--black);
  }

  .theme_main-bg-inversion {
    background-color: var(--white);
  }

  .pulse-skeleton__white-dark {
    $from: #8c8c8c;
    $to: scale-color($from, $lightness: -10%);
    background: linear-gradient(
      -90deg,
      var(--gray) 0%,
      var(--gray-dark) 50%,
      var(--gray) 100%
    );
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    color: transparent;
  }
}

.theme_main-bg {
  background-color: var(--white);
}

.theme_main-bg-inversion {
  background-color: var(--black);
}

.pulse-skeleton__white-dark {
  $from: #f5f5f5;
  $to: scale-color($from, $lightness: -10%);
  background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  color: transparent;
}

.pulse-skeleton__white {
  $from: #f5f5f5;
  $to: scale-color($from, $lightness: -10%);
  background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  color: transparent;
}

.pulse-skeleton__blue {
  $from: #3562bd;
  $to: scale-color($from, $lightness: -10%);
  background: linear-gradient(
    -90deg,
    var(--blue) 0%,
    var(--blue-light) 50%,
    var(--blue) 100%
  );
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  color: transparent;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
