.header {
  padding: 7px 20px;
  background-color: var(--blue);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav {
    ul {
      display: flex;
      li {
        & + li {
          margin-left: 10px;
        }
      }
    }
  }

  a {
    color: var(--white);
  }
}
