.sidebar {
  padding: 0 20px 10px 10px;
  min-width: 150px;
  .title {
    color: white;
    margin-bottom: 15px;
    font-size: 15px;
  }
  .list {
    padding-left: 5px;
    .item {
      font-size: 13px;

      & + .item {
        margin-top: 7px;
      }

      a {
        color: white;
        display: flex;
        align-items: center;
        .item-icon {
          margin-right: 5px;
          svg {
            line-height: 0;
            height: 15px;
            width: 15px;
            display: block;
          }
        }
      }
    }
  }
}
